 * {
    box-sizing: border-box;
    text-align: center;
}
  
  body {
    background-color: #777;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    width: 960px;
    line-height: 32px;
    font-size: 18px;
    color: #777
  }

  #page-wrap {
    width: 950px;
    margin: 0 auto;
    margin-left: 275px;
  }
  
  header {
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
  }
  
  #nav {
    padding: 30px;
    margin-bottom: 20px;
    background: #ebebeb;
  }


  #section {
    padding: 10px;
    padding-top: 28px;
    margin-bottom: 20px;
    background: #ebebeb;
    width: 52%;
    height: 300px;
    border: 1px solid #eee;
  }

  
  
  
  #article {
    width: 98%;
    height: 215px;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 5px;
    margin-top: 15px;
    background: #777;
    color: #ebebeb;
    float: left;
  }

  #heading {
    width: 430px;
    height: 60px;
    padding: 10px;
    padding: 15px;
    margin-left: -3px;
    margin-top: 20px;
    background:#ebebeb;
    color: #777;
    font-weight: bold;
    font-size: 23px
}

  #P {
    width: 430px;
    height: 60px;
    padding: 10px;
    margin-left: -3px;
    margin-top: 12px;
    background:#ebebeb;
    color: #777;
}


  #h1 {
    padding: 20px;
    margin-bottom: 20px;
    background: #eee;
    float: left;
  }



  #aside {
    width: 45%;
    height: 300px;
    padding: 20px;
    margin-left: 30px;
    background: #ebebeb;
    border: 1px solid #eee;
    float: right;
    overflow: hidden;
  }

 

  footer {
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    background: #ebebeb;
    height: 100px;
    float: center;
  }